<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Aung Nan</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/images/logo/ygnbinhaus_logo.png" />
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.114/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.114/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      :root {
        --mainColor: #ff9800;
      }

      html,
      body,
      #sceneContainer, #cesiumContainer, #infobox, #panorama {
        height: 100%;
        width: 100vw;
        margin: 0;
        padding: 0;
      }

      /** {
      //   font-family: "Courier New", Courier, monospace, 'Padauk'!important;
       }*/

      #sceneContainer {
        height: 94%!important;
      }

      #cesiumContainer {
        height: 94%!important;
        position: absolute;
        display: block;
        z-index: 1;
      }

      #panorama {
        height: 94%!important;
        position: absolute;
        display: block;
        z-index: 2;
        visibility: hidden;
        transition: 1s;
      }

      #infobox, #creditbox, #welcomebox {
        height: 94%!important;
        width: 100%;
        position: absolute;
        display: block;
        z-index: 3;
        visibility: hidden;
        overflow-y: scroll;
        bottom: 0;
        left: 0;
        margin: 0;
        background-color: rgba(255,255,255,0.95);
      }

      #navbar {
        height: 6%;
        width:100vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: white;
      }

      #navlinks {
        padding-right: 10px;
        margin-left: auto;
      }

      .nav-link {
        padding: 1vh;
        margin: 0;
        font-weight: bold;
        text-decoration: none;
        color: #3d3d3d;  
        background:
          linear-gradient(
            to bottom,
            var(--mainColor) 0%,
            var(--mainColor) 100%
          );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 2px 2px;
        transition: background-size .2s, color .2s;
      }

      .nav-link:visited {
        color: #3d3d3d;
      }

      .nav-link:hover {
        color: #FFFFFF;
        background-size: 2px 50px;
      }

      .logo-image-container {
        height: 90%;
        width: auto;
        padding: 0.5vh;
        margin: 0;
      }

      .logo-image {
        height: 100%;
        width: auto;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px var(--mainColor);
        transition: box-shadow .2s;
      }

      .logo-image:hover {
        box-shadow: 0px 0px 1.5px 1.5px var(--mainColor);
      }

      #pano-controls {
          position: absolute;
          z-index: 2;
          text-align: right;
          width: 100%;
      }

      .pano-ctrl {
          padding: 8px 5px;
          width: 30px;
          text-align: center;
          background: rgba(200, 200, 200, 0.8);
          display: inline-block;
          cursor: pointer;
      }

      .pano-ctrl:hover {
          background: rgba(200, 200, 200, 1);
      }

      #infoarea {
          padding: 5% 10% 5% 10%;
      }

      #infoclose, #creditclose, #welcomeclose {
        display: block;
        position: fixed;
        font-size: large;
        font-weight: bold;
        height: fit-content;
        width: fit-content;
        padding: 10px;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
      }

      .cesium-infoBox-iframe {
        max-height: 80vh!important;
        height: 80vh!important;
      }

      .cesium-infoBox {
        height: fit-content!important;
      }

      .member-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
      }

      .member {
        margin: 15px 20px 15px 20px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div id="navbar">
      <a class="logo-image-container" href="https://www.facebook.com/maammr"><img class="logo-image" src="/images/logo/maa_logo.jpeg"></img></a>
      <a class="logo-image-container" href="https://ygnbinhaus.com"><img class="logo-image" src="/images/logo/ygnbinhaus_logo.png"></img></a>
      <a class="logo-image-container" href="https://cesium.com"><img class="logo-image" src="/images/logo/cesium_logo.png"></img></a>|
      <h3 style="margin-left: 10px;"><a style="text-decoration: none; color: #3d3d3d;; font-style: italic;" href="https://aungnan3d.herokuapp.com/" id="navtitle">Aung Nan Heritage</a></h3>
      <div id="navlinks">
        <a id="info" href="#info" class="nav-link" onclick="popup('info');">Info</a>|<a id="credit" href="#credits" class="nav-link" onclick="popup('credits')">Credits</a>
      </div>
    </div>
    {{{body}}}
  </body>
</html>