<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Aung Nan</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/images/logo/ygnbinhaus_logo.png" />
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.114/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.114/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div id="navbar">
      <a class="logo-image-container" href="https://www.facebook.com/maammr"><img class="logo-image" src="/images/logo/maa_logo.jpeg"></img></a>
      <a class="logo-image-container" href="https://ygnbinhaus.com"><img class="logo-image" src="/images/logo/ygnbinhaus_logo.png"></img></a>
      <a class="logo-image-container" href="https://cesium.com"><img class="logo-image" src="/images/logo/cesium_logo.png"></img></a>|
      <h3 style="margin-left: 10px;"><a style="text-decoration: none; color: #3d3d3d;; font-style: italic;" href="https://aungnan3d.ygnbinhaus.com/" id="navtitle">Aung Nan Heritage</a></h3>
      <div id="navlinks">
        <a id="welcome" href="#welcome" class="nav-link" onclick="popup('welcome');">Welcome</a>|<a id="info" href="#info" class="nav-link" onclick="popup('info');">Info</a>|<a id="credit" href="#credits" class="nav-link" onclick="popup('credits')">Credits</a>
      </div>
    </div>
    {{{body}}}
  </body>
</html>